Options +FollowSymLinks

RewriteEngine on
RewriteBase "/"

RewriteRule ^allergens.html$ /menu [R,L]
RewriteRule ^allergenek.html$ /etlap-itallap [R,L]
RewriteRule ^sutik.html$ /etlap-itallap/edessegek [R,L]
RewriteRule ^cakes.html$ /menu/treats [R,L]
RewriteRule ^cakes$ /menu/treats [R,L]
RewriteRule ^levek.html$ /etlap-itallap/italok [R,L]
RewriteRule ^levek$ /etlap-itallap/italok [R,L]
RewriteRule ^juices.html$ /menu/drinks [R,L]
RewriteRule ^juices$ /menu/drinks [R,L]
RewriteRule ^daily-menu$ /menu/daily-menu [R,L]
RewriteRule ^napi-menu$ /etlap-itallap/napi-menu [R,L]
RewriteRule ^daily-menu.html$ /menu/daily-menu [R,L]
RewriteRule ^napi-menu.html$ /etlap-itallap/napi-menu [R,L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.+)\.html$ $1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L] 
