Options +FollowSymLinks
Header add Access-Control-Allow-Origin "*"

RewriteEngine on
RewriteCond %{HTTP_HOST} ^fruccola.hu
RewriteRule ^allergens.html$ http://fruccola.hu/menu.html [L]
RewriteRule ^allergenek.html$ http://fruccola.hu/etlap-itallap.html [L]
RewriteRule ^sutik.html$ http://fruccola.hu/edessegek [L]
RewriteRule ^cakes.html$ http://fruccola.hu/treats [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /$1.html [QSA]